{% extends "layout.html" %} {% block title %}Country Recommendations{% endblock %} {% block styles %}
<!-- Page-specific styles for recommendations.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommendations.css') }}"> {% endblock %} {% block content %}
<h1>Recommendations Based on Your Preferences</h1>
<h2>Continent: {{ continent }}</h2>
<h3>Climate: {{ climate }}</h3>

<div>
    {% if filtered_countries %} {% for country, details in suggestions_country.items() %}
    <div class="country-card">
        <h3>{{ country }}</h3>
        <p><strong>Flag:</strong> <img src="{{ details.Flag }}" alt="{{ country }} Flag"></p>
        <p><strong>Capital:</strong> {{ details.Capital }}</p>
        <p><strong>Currency:</strong> {{ details.Currency }}</p>
        <p><strong>Notable Places:</strong> {{ details.OpenTripMap|join(', ') }}</p>
        <p><strong>Description:</strong> {{ details.WikiVoyage }}</p>
        <p><strong>Food Recommendations:</strong> {{ details.Food|join(', ') }}</p>
        <p><strong>Calling Code:</strong> {{ details['Calling Code']|default('Not available') }}</p>
    </div>
    {% endfor %} {% else %}
    <p>No countries match your preferences.</p>
    {% endif %}
</div>
{% endblock %}