* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: whitesmoke;
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.1em;
    /* padding: 0px 15px; */
}


/* font css classes */

.poppins-thin {
    font-family: "Poppins", system-ui;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", system-ui;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", system-ui;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", system-ui;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", system-ui;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", system-ui;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", system-ui;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", system-ui;
    font-weight: 900;
    font-style: italic;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

header a:last-child {
    margin-right: 20px;
}

.mobile-menu {
    display: none;
}

.logo {
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.hero-section img {
    width: 100%;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border-radius: 11% 0%; */
    /*  filter: grayscale(60%); */
}

.reviews-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews {
    display: flex;
    flex-direction: row;
    /* Horizontal layout on large screens */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.review {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    flex: 1;
    /* i will come to this later. does not look great on large screens*/
    margin: 0px 50px;
    /* Flex to occupy equal space */
}

.review-number {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.review-text {
    margin-top: 10px;
    font-size: 1rem;
    color: #666;
}

.divider {
    width: 2px;
    background-color: grey;
    /* Cute color for the line */
    margin: 0 10px;
    /* Spacing between reviews */
}

.img-details {
    background-color: rgb(223, 223, 223);
    padding: 80px 20px;
}

h3 {
    font-size: 1.4em;
    font-weight: 700;
}

.def p {
    padding: 10px 20px 10px 0px;
    font-size: 0.9em;
    width: 50%;
}

.center-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.center-div button {
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.img-grid1 {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
}

.img-container1 img {
    width: 270px;
    height: 260px;
    padding: 10px;
    border-radius: 5%;
}

.img-txt {
    padding: 40px 15px 40px 12px;
}

.img-container1 {
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: whitesmoke;
    /* border-radius: 3%; */
    box-shadow: rgba(0, 0, 0, 0.1);
}

@media only screen and ( max-width: 820px) {
    header {
        padding: 13px 0px;
        flex-direction: column;
    }
    .logo {
        position: relative;
        left: 12px;
    }
    .mobile-menu {
        display: flex;
        position: absolute;
        right: 20px;
        transition: transform 0.5s ease;
    }
    .mobile-menu:hover {
        transform: rotate(360deg);
    }
    header a {
        display: none;
    }
    .hero-section img {
        min-width: 100%;
        height: 550px;
        box-shadow: rgba(0, 0, 0, 0.1);
    }
    .intro1 {
        color: white;
        position: absolute;
        top: 250px;
        left: 0px;
        margin: 0px 50px;
        font-style: italic;
        width: 60%;
    }
    h1 {
        font-size: 1.7em;
        margin-bottom: 15px;
    }
    .intro1 p {
        font-size: 0.8em;
        margin: 0px 30px 15px 0px;
    }
    .start {
        padding: 10px;
        border: none;
        border-radius: 10px 0px;
    }
    /* Needs more work here - does not look aesthetically pleasing*/
    .intro-2 {
        height: 260px;
        margin: 30px 10px;
    }
    hr {
        color: black;
        width: 13%;
        border: 1px solid;
        position: relative;
        top: 30px;
        left: 0px;
    }
    h4 {
        margin: 17px 0px 0px 74px;
    }
    .intro-2 p {
        margin: 30px 10px;
        text-align: center;
    }
    .reviews-container {
        margin: 100px auto 0px;
        padding-bottom: 0px;
    }
    .reviews {
        padding-bottom: 35px;
        margin: 100px 0px 10px;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Stack reviews vertically on small screens */
    }
    .center-div {
        flex-direction: column;
    }
    .def p {
        width: 100%;
    }
    .img-grid1 {
        flex-direction: column;
        margin: 0px auto;
    }
    .img-grid1 img {
        width: 100%;
    }
    .img-txt {
        padding: 20px;
    }
    .img-container1 {
        flex-direction: column;
        align-content: center;
    }
}